

@{
    ViewData["Title"] = "QuanLyKhachHang";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using KTTH.Models
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TUser>;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>QuanLyKhachHang</h1>


@if (TempData["Message"] != null)
{
    <div class="alert alert-warning">
        @TempData["Message"]
    </div>
}
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                Username
            </th>
            <th>
               Password
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-danger">
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Password)
            </td>
           
            <td>
                <a asp-action="xoakhachhang" asp-route-userName="@item.Username">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="product__pagination" style="row-gap:5px">
    @Html.PagedListPager(Model,page=>Url.Action("DanhMucSanPham",new{page}))
</div>
